<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/css/bootstrap.css">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/add.css">
    <title>Title</title>
</head>
<body>
<form action="index.php?c=News&a=upd" method="post" class="form" enctype="multipart/form-data">
    <div class="form-group form-inline">
        <label>商品名:</label><input type="text" name="title" value='{$aa["title"]}' class="form-control">
    </div>
    <div class="form-group form-inline">
        <label>&nbsp;价格: &nbsp;&nbsp;</label><input type="text" name="price" value='{$aa["price"]}' class="form-control">
    </div>
    <div class="form-group form-inline">
        <label>&nbsp;油费: &nbsp;&nbsp;</label><input type="text" name="fuel" value='{$aa["fuel"]}' class="form-control">
    </div>
    <div class="form-group form-inline">
        <label>&nbsp;描述: &nbsp;&nbsp;</label><input type="text" name="zhuang" value='{$aa["zhuang"]}' class="form-control">
    </div>
	<div class="form-group form-inline">
        <label>&nbsp;分类: &nbsp;&nbsp;</label><input type="text" name="category_id" value="" class="form-control" style="width:196px;">
    </div>
    <div class="form-group form-inline">
        <label>&nbsp;图片: &nbsp;&nbsp;</label><input type="file" name="img" value='{$aa["img"]}' class="wen form-control" style="width:196px;">
    </div>
	<input type="hidden" name="id" value="{$aa.id}">
    <div class="but">
        <a href="#" class="btn cancel">取消</a>
        <button class="btn btn-primary" type="reset">重置</button>
        <button class="btn btn-success" type="submit">提交</button>

    </div>
</form>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>