body{margin:0;
    /*font-family:"Microsoft YaHei";line-height:1;font-size:12px;*/
    font:12px/1 "Microsoft YaHei";
}
p,dl,dd{margin:0;}
h1,h2,h3,h4,h5,h6{margin:0; font-weight:normal; font-size:100%;}
ul,ol{margin:0;padding:0;list-style:none;}
a{ text-decoration: none;color:#333;}
em,i{font-style:normal;}
strong,b{font-weight:normal;}
img{border:none;vertical-align:bottom;}
.clearfix{*zoom:1;} /*ie低版本兼容处理*/
.clearfix:after{content:"";clear:both;display:block; height:0;overflow:hidden;font-size:0;line-height:0;}
table{border-spacing: 0;border-collapse: collapse;}
th,td{padding:0;text-align:left;vertical-align: top;}
th{font-weight:normal;text-align:left;}
input,textarea{outline:none;}
input{margin:0;padding:0;border:none;}
input[type="button"],input[type="submit"]{box-sizing:content-box;}
textarea{resize:none;overflow:auto;}
